*{
    margin: 0;
    padding: 0;
}

.s{
    background-image: url(WhatsApp\ Image\ 2026-07-09\ at\ 5.29.59\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

nav{
    padding: 10px 15px;
    
    background: #0F5C63;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    
}

.ggh{
transition: all 0.6s ease-in-out;
color: white;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.ggh:hover{
    color: red;
    /* transform: scale(1.05); */
}

.k{
    background-image: url(WhatsApp\ Image\ 2026-07-09\ at\ 5.32.21\ PM.jpeg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
}

.aa{
    justify-content: center;
    display: flex;
    
    gap: 15px;
}

h2{
    text-align: center;
    font-size: 20px;
    color: black;
    padding-top: 2px;
}

body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.e{
padding: 10px 25px;
transition: all 0.6s ease-in-out;
}

.e:hover{
    color: red;
    transform: scale(1.05);
    
}

a{
    text-decoration: none;
}

button{
    align-items: center;
      font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 11px;
    border-radius: 10px;
    border: 2px solid #0F5C63;

    margin-top: 220px;
}

.ff {
    margin-top: 5px;
    justify-content: center;

}

.ffw{
    transition: transform 0.6s ease-in-out;
}

.ffw:hover{
    
    transform: scale(1.05);
}

.l{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-top: 135px;
}

.popo{
    background:linear-gradient(to left, red, green);
    height: 5px;
}